@import '../../../theme.scss';

.event-info-drawer {
    .ant-drawer-content-wrapper {
        border-radius: $border-radius 0 0 $border-radius;
        overflow: hidden;
    }
    .ant-drawer-mask {
        background-color: transparent;
    }
    .ant-drawer-header {
        background-color: $color-primary;
    }
    .ant-drawer-title {
        color: white;        
    }
    .ant-drawer-close {
        color: white;
    }
    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: #fbfbfb;
        h1 {
            text-decoration: underline;
        }
    }
    .event-property {
        font-weight: bold;
    }
    .ant-row {
        margin-bottom: 15px;
    }
    .ant-picker:not(:first-child) {
        margin-left: 10px;
    }
    .ant-checkbox-wrapper {
        display: flex;
        width: 100px;
        justify-content: space-between;
        span {
            padding: 0;
        }
    }
    .ant-checkbox {
        order: 2;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: $color-primary;
        border-color: $color-primary;
    }
    .ant-picker-focused,
    .ant-input-focused,
    .ant-picker:focus,
    .ant-input:focus,
    .ant-picker:hover,
    .ant-input:hover,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox-checked::after {
        border-color: $color-primary;
    }
    .ant-input {
        resize: none;
    }
    .update-button {
        margin-top: auto;
        background-color: $color-primary;
        border-color: $color-primary;
        font-weight: bold;
        color: white;
        &:hover, &:focus, &:active {
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
            color: white;
        }
    }

    @media screen and (max-width: 700px) {
        .ant-drawer-content-wrapper {
            width: 80% !important;
        }
    }
}