@import '../../../theme.scss';

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 10%;
    background-color: $color-background;
    background-image: linear-gradient(0deg, rgb(231, 101, 50, .12), transparent 60%);

    h1 {
        font-size: 50px;
        color: $color-primary;
        position: relative;

        transform: translateY(100px);
        opacity: 0;
        animation: slideUp 0.75s forwards;

        &::after {
            content: '';
            position: absolute;
            height: 5px;
            width: 0%;
            background-color: currentColor;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            animation: grow 1s .75s forwards;
        }
    }

    button {
        margin-top: 5px;
        background-color: $color-primary;
        border-color: $color-primary;
        font-weight: bold;
        &:hover, &:focus {
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
            color: $color-background;
        }
        color: $color-background;
        transition-duration: 0.1s;

        transform: translateY(100px);
        opacity: 0;
        animation: slideUp .75s .75s forwards;
    }


    @keyframes grow {
        100% {
            width: 100%;
        }
    }

    @keyframes slideUp {
        100% {
            opacity: 100%;
            transform: translateY(0);
        }
    }
}