@import '../../../theme.scss';

#page-layout {
    position: relative;
    overflow: hidden;

    .ant-layout-header {
        display: flex;
        justify-items: start;
        align-items: center;
        padding: 0 30px;
        h1 {
            color: $color-primary;
            font-size: 25px;
            font-weight: bold;
            position: relative;
            margin: 0;
            &::after {
                content: '';
                position: absolute;
                height: 5px;
                width: 0%;
                background-color: currentColor;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        button {
            margin-left: auto;
            color: $color-primary;
            background-color: transparent;
            border-color: transparent;
            border-radius: $border-radius-small;
            padding: 0 10px;
            &:hover {
                background-color: $color-primary;
                color: $color-background;
            }
            transition: 0.1s;
        }
    }


    .content-layout {
        background-color: $color-background;
        position: relative;
    }
    .ant-layout-content {
        height: calc(100vh - 94px);
        padding: 50px;
        margin-right: 30px;
        border-radius: $border-radius;
        background-color: white;
    }

    .ant-layout-header {
        background-color: $color-background;
        color: white;
    }
    .ant-layout-footer {
        background-color: $color-background;
        height: 30px;
        padding: 0;
        color: white;
    }
    .ant-layout-sider {
        background-color: $color-background;
    }
    .ant-menu {
        margin-top: 30px;
        background-color: $color-background;
        height: 100%;
        border: none;
    }
    .ant-menu-item {
        padding: 0;
        background-color: $color-background;
        width: 85%;
        color: white;
        margin-left: auto;
        border: 2px solid $color-background;
        border-radius: $border-radius 0 0 $border-radius;
    }
    .ant-menu-item-selected {
        background-color: white;
        border-color: white;
        color: $color-background;
        &::after {
            display: none;
        }
    }
    .ant-menu-item:hover {
        background-color: $color-background-light;
        border-color: $color-background-light;
        color: white;
    }

    .hex {
        position: absolute;
    }
    .hex-blue-big {
        left: 0;
        bottom: 0;
        transform: scale(0.8) translate(-70%, 60%);
    }
    .hex-orange {
        left: 0;
        bottom: 0;
        transform: scale(0.8) translate(30%, -30%);
    }

    @media screen and (max-width: 700px) {
        .ant-layout-header {
            padding-right: 10px;
        }
        .ant-layout-sider {
            flex: 0 0 40px !important;
            min-width: 0 !important;
        }
        .ant-menu-item  {
            padding-left: $border-radius !important;
        }
        .ant-menu-title-content {
            display: none;
        }
        .ant-layout-content {
            padding: 20px;
            margin-right: 0;
            border-radius: $border-radius 0 0 0;
            height: calc(100vh - 64px);
        }
        .ant-layout-footer {
            height: 0;
        }
        .hex {
            display: none;
        }
    }
}
