:root {
    --blue: rgb(45, 114, 218);
    --blue-dark: rgb(32, 88, 170);
    --red: rgb(228, 88, 69);
    --red-dark: rgb(177, 50, 34);
    --purple: rgb(131, 15, 131);
    --purple-dark: rgb(114, 14, 114);
    --orange: rgb(255, 123, 0);
}

.fc a {
    color: black;
}

.fc-daygrid-event {
    cursor: pointer;
}

/* BLOCK EVENTS */
.fc-daygrid-block-event.specific-event {
    background-color: var(--blue);
    border-color: var(--blue);
} 
.fc-daygrid-block-event.specific-event:hover {
    background-color: var(--blue-dark);
    border-color: var(--blue-dark);
}

.fc-daygrid-block-event.all-day-event,
.fc-daygrid-block-event.one-hour-event {
    background-color: var(--red);
    border-color: var(--red);
}
.fc-daygrid-block-event.all-day-event:hover,
.fc-daygrid-block-event.one-hour-event:hover {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
}


/* DOT EVENTS */
.fc-daygrid-dot-event.specific-event .fc-daygrid-event-dot {
    border-color: var(--blue);
}
.fc-daygrid-dot-event.specific-event .fc-daygrid-event-dot,
.fc-daygrid-dot-event.one-hour-event .fc-daygrid-event-dot {
    border-color: var(--red);
}
.fc-daygrid-dot-event.static-event {
    border: 2px solid var(--orange);
}
.fc-daygrid-dot-event.static-event .fc-daygrid-event-dot {
    border-color: var(--orange);
}

@media screen and (max-width: 600px) {
    :root {
        --blue: var(--purple);
        --blue-dark: var(--purple-dark);
        --red: var(--purple);
        --red-dark: var(--purple-dark);
    }
}