$color-primary: hsl(17, 80%, 55%);
$color-primary-dark: hsl(17, 80%, 45%);
$color-primary-darker: hsl(17, 80%, 32%);

$color-secondary: hsl(274, 50%, 17%);
$color-secondary-dark: hsl(274, 50%, 7%);

$border-radius: 8px;