$color-primary: #e86430;
$color-primary-dark: #cf4b17;
$color-primary-darker: #933510;

$color-background: #2e1641;
$color-background-dark: #13091b;
$color-background-light: hsl(273, 50%, 27%);

$border-radius: 8px;
$border-radius-small: 4px;